In [1]:
# importing libraries

import pandas as pd
import numpy as np
from os import listdir
import random
import csv

In [2]:
sampled_ylist2016b = pd.read_csv('sampled_ylist2016b.csv')
sampled_ylist2017 = pd.read_csv('sampled_ylist2017.csv')
sampled_ylist2018 = pd.read_csv('sampled_ylist2018.csv')

In [11]:
cols_ylist2016b = list(sampled_ylist2016b.columns)
cols_ylist2017 = list(sampled_ylist2017.columns)
cols_ylist2018 = list(sampled_ylist2018.columns)

In [12]:
cols_ylist2018 == cols_ylist2017

True

In [13]:
cols_ylist2018 == cols_ylist2016b

False

In [17]:
sampled_ylist2016b = sampled_ylist2016b.drop(columns=['ehail_fee'])
sampled_ylist2017['trip_type'] = 'NaN'
sampled_ylist2018['trip_type'] = 'NaN'

In [18]:
cols_ylist2016b = list(sampled_ylist2016b.columns)
cols_ylist2017 = list(sampled_ylist2017.columns)
cols_ylist2018 = list(sampled_ylist2018.columns)

In [19]:
cols_ylist2018 == cols_ylist2017

True

In [20]:
cols_ylist2018 == cols_ylist2016b

False

In [28]:
sampled_ylist2017 = sampled_ylist2017.rename(columns = {'tpep_pickup_datetime' : 'lpep_pickup_datetime'})
sampled_ylist2017 = sampled_ylist2017.rename(columns = {'tpep_dropoff_datetime' : 'lpep_dropoff_datetime'})
sampled_ylist2018 = sampled_ylist2018.rename(columns = {'tpep_pickup_datetime' : 'lpep_pickup_datetime'})
sampled_ylist2018 = sampled_ylist2018.rename(columns = {'tpep_dropoff_datetime' : 'lpep_dropoff_datetime'})

In [29]:
cols_ylist2016b = list(sampled_ylist2016b.columns)
cols_ylist2017 = list(sampled_ylist2017.columns)
cols_ylist2018 = list(sampled_ylist2018.columns)

In [30]:
cols_ylist2018 == cols_ylist2017

True

In [31]:
cols_ylist2018 == cols_ylist2016b

False

In [34]:
order = ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 
        'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 
        'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type']

In [41]:
sampled_ylist2016b = sampled_ylist2016b[order]
sampled_ylist2017 = sampled_ylist2017[order]
sampled_ylist2018 = sampled_ylist2018[order]

In [44]:
cols_ylist2016b = list(sampled_ylist2016b.columns)
cols_ylist2017 = list(sampled_ylist2017.columns)
cols_ylist2018 = list(sampled_ylist2018.columns)

In [45]:
cols_ylist2018 == cols_ylist2017

True

In [46]:
cols_ylist2018 == cols_ylist2016b

True

In [47]:
del(order, cols_ylist2016b, cols_ylist2017, cols_ylist2018)

In [48]:
yellow_merged = pd.concat([sampled_ylist2016b, sampled_ylist2017, sampled_ylist2018])
yellow_merged.to_csv("yellow_merged.csv", index=False)

In [49]:
yellow_merged.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2016-07-27 02:45:10,2016-07-27 02:52:20,1,2.77,1,N,230,114.0,1.0,9.5,0.5,0.5,2.16,0.3,12.96,NaN,NaN
1,2,2016-07-09 09:46:49,2016-07-09 09:52:58,2,1.12,1,N,262,236.0,2.0,6.5,0.0,0.5,0.00,0.3,7.30,NaN,NaN
2,2,2016-07-17 14:47:34,2016-07-17 14:52:16,1,0.81,1,N,107,170.0,2.0,5.5,0.0,0.5,0.00,0.3,6.30,NaN,NaN
3,2,2016-07-22 15:15:25,2016-07-22 15:39:26,1,4.70,1,N,166,263.0,2.0,16.5,0.0,0.5,0.00,0.3,17.30,NaN,NaN
4,2,2016-07-12 21:04:24,2016-07-12 21:13:07,1,2.39,1,N,138,260.0,2.0,9.5,0.5,0.5,0.00,0.3,10.80,NaN,NaN